<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Breakfast Recipes</title>

    <!-- End of head content specific to page -->
</div>

</head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="padding: 60px; margin-left: 50px;">
        <h1>Breakfast Recipes</h1>
        <button type="button"><a href="/recipes">Jump to Recipes</a></button>
        <h5>Start your morning with a beautiful breakfast!</h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>



    </div>


    <!doctype html>
    <html lang="en">
    <head>
        <script>
            function setColor(btn, color){
                var count=1;
                var property = document.getElementById(btn);
                if (count == 0){
                    property.style.backgroundColor = "#FFFFFF"
                    count=1;
                }
                else{
                    property.style.backgroundColor = "#7FFF00"
                    count=0;
                }

            }
        </script>

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>


    </head>
    <body>

    <main>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/breakfast1.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">Pancakes - For the ultimate pancakes, skip on the store-bought mix and make this easy batter instead.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/food-network-kitchen/pancakes-recipe-1913844';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">22 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/breakfast2.jpeg'}" alt="pastries" style="margin-left:30px; max-width: 65%;">

                            <div class="card-body">
                                <p class="card-text">Avocado Toasts - There are two secrets to these simple avocado toasts: rubbing the bread with garlic for just a hint of flavor and adding a pop of crunchy sea salt on top.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/food-network-kitchen/avocado-toasts-3364588';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">10 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/breakfast3.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">

                            <div class="card-body">
                                <p class="card-text">Waffles with Blueberry Compote and Lemon Ricotta Cream - Elevate your waffles with fresh blueberry compote and sweetened lemon-ricotta cream.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/bobby-flay/waffles-withblueberry-compoteand-lemon-ricotta-cream-4622249';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">70 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/breakfast4.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text">Granola - Alton Brown's simple granola recipe uses maple syrup for sweetness and extra flavor.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/alton-brown/granola-recipe-1939521';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">85 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/breakfast5.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text">Scrambled Eggs with Herbs - Fresh, chopped herbs brighten up your breakfast routine in a super-easy scrambled egg recipe that you'll use over and over.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/food-network-kitchen/scrambled-eggs-with-herbs-recipe-2011670';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">25 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/breakfast6.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text">Breakfast Bread Pudding - You can’t go wrong with Ina’s five-star bread pudding. She soaks brioche in a mixture of half-and-half, eggs, honey and orange zest, then bakes until the pudding puffs and turns golden-brown.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/ina-garten/breakfast-bread-pudding-recipe-2014405';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">80 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/breakfast7.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text">Sheet-Pan Bacon Egg Sandwiches for a Crowd - This ingenious method allows you to fry your bacon and cook more than a dozen eggs right on a sheet pan in the oven, eliminating all that time standing in front of the stove.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/food-network-kitchen/sheet-pan-bacon-egg-sandwiches-for-a-crowd-3543493';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">55 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/breakfast8.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text">Best Breakfast Potatoes Ever - The name pretty much says it all. The Pioneer Woman's take on breakfast potatoes is the best-ever, and it's all thanks to your screaming-hot oven.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/best-breakfast-potatoes-ever-2147266';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">50 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/breakfast9.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">

                            <div class="card-body">
                                <p class="card-text">Breakfast Burritos with Chorizo - Filling and flavorful, this breakfast burrito is packed with chorizo, eggs, hash browns and beans. When paired with a fiery tomatillo salsa, the grab-and-go breakfast is simply amazing. </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/food-network-kitchen/breakfast-burritos-with-chorizo-3677254';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">40 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>

        </div>
    </footer>

</div>

</body>

</html>