<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Brunch Recipes</title>

    <!-- End of head content specific to page -->
</div>

</head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="padding: 60px; margin-left: 50px;">
        <h1>Brunch Recipes</h1>
        <button type="button"><a href="/recipes">Jump to Recipes</a></button>
        <h5>Why pick between breakfast and lunch when you can have both!</h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>



    </div>


    <!doctype html>
    <html lang="en">
    <head>
        <script>
            function setColor(btn, color){
                var count=1;
                var property = document.getElementById(btn);
                if (count == 0){
                    property.style.backgroundColor = "#FFFFFF"
                    count=1;
                }
                else{
                    property.style.backgroundColor = "#7FFF00"
                    count=0;
                }

            }
        </script>

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>


    </head>
    <body>

    <main>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/brunch1.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text"> Sausage Gravy Breakfast Lasagna - Layers of sausage gravy, cheese and noodles work so magically together, you'll wonder why you never ate lasagna for breakfast before.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/food-network-kitchen/sausage-gravy-breakfast-lasagna-3364970';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">40 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/brunch2.jpeg'}" alt="pastries" style="margin-left:30px; max-width: 65%;">

                            <div class="card-body">
                                <p class="card-text">Instant Pot Mini Frittatas - Make a quick and delicious brunch appetizer or snack with your Instant Pot®.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/food-network-kitchen/instant-pot-mini-frittatas-5451507';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">75 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/brunch3.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">

                            <div class="card-body">
                                <p class="card-text">Mini Kale Shakshuka - Molly’s mini shakshukas are perfect for an intimate brunch. Fresh kale lends its vibrant color to the egg dish, which is topped with a dollop of Greek yogurt, za’atar spice and fresh parsley.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/mini-kale-shakshuka-5526037';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">45 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/brunch4.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text">Acai Breakfast Bowl - While acai bowls are relatively new in the United States, they've been a staple in Brazil since, well forever. Acai is a purple berrylike fruit of a palm tree native to Central and South America. It's packed with antioxidants (anthocyanins) and omega-3 fatty acids. We used unsweetened frozen puree, which has a pleasant flavor with slight olive oil notes. Add the traditional toppings and this bowl is loaded with fiber.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/food-network-kitchen/acai-breakfast-bowl-3363448';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">5 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/brunch5.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text">Huevos Rancheros - Though they look extravagant, Sunny’s huevos rancheros come together in just 10 minutes. Homemade tomato-jalapeno salsa comes together in a skillet while she fries the eggs in a separate pan.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/sunny-anderson/huevos-rancheros-1957250';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">13 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/brunch6.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text"> Breakfast PLT (Pancetta, Lettuce & Tomato) - An upgrade on the classic BLT, Giada piles mini-bagels with a mustard-goat cheese spread, pancetta, quail eggs, tomato and arugula. She uses quail eggs because they’re smaller than traditional eggs, but taste exactly the same.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/giada-de-laurentiis/breakfast-plt-pancetta-lettuce-and-tomato-2591950';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">35 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/brunch7.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text">Egg-in-a-Hole Sandwich - You don’t want to miss Ree’s breakfast BLT. She uses two slices of egg-in-a-hole as the bread for her sandwich, then stuffs the inside with all the fixin’s.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/ree-drummond/egg-in-a-hole-sandwich-5478049';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">35 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/brunch8.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                            <div class="card-body">
                                <p class="card-text">Sunny’s Big Ole Tex-Mex Burrito Omelet - Colorful, hearty and satisfying, this spicy omelet is overflowing with sautéed veggies, Mexican chorizo and pepper-jack cheese. Sunny tops it off with a classic salsa verde featuring cilantro, tomatillos and jalapeno.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/sunny-anderson/big-ole-tex-mex-burrito-omelet-recipe-1972683';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">77 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="" th:src="@{'/images/brunch9.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">

                            <div class="card-body">
                                <p class="card-text">Ellie's English-Muffin Breakfast Pizza - Ellie Krieger uses ripe tomatoes, fresh basil and part-skim mozzarella to give this portable breakfast dish Old World Italian flare. Top the toasty mini-pizzas with chopped Canadian bacon and a drizzle of olive oil.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.foodnetwork.com/recipes/ellie-krieger/english-muffin-breakfast-pizza-recipe-1973030';" value="View" />
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Favorite</button>
                                    </div>
                                    <small class="text-muted">17 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>

        </div>
    </footer>

</div>

</body>

</html>