<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Drink Recipes</title>

    <!-- End of head content specific to page -->
</div>

</head>


<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="padding: 60px; margin-left: 50px;">
        <div>
            <!-- Input -->
            <h1>Smoothie Recipes</h1>
            <button>Jump to Recipes!</button>
            <h5>Homemade drinks are very refreshing and enjoyable to drink during any meal! Whether it be drinking with friends or drinking on a Friday night, enjoy these simple recipes to make for fun!</h5>
            <form action="/drinks" method="GET" id="num">
                <div>
                    <label for="greetField">Type the number of ingredients you have!</label>
                    <input name="padseq" id="greetField">
                    <button>Go!</button>
                    <img src="" th:src="@{'/images/smoothie.png'}" style="margin-left:15px; max-width: 25%;">
                </div>
            </form>

            <h1>Types of Smoothies you can make:</h1>
            <br>
            <br>
            <main>

                <div class="album py-5 bg-light">
                    <div class="container">

                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="" th:src="@{'/images/sb.jpg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                                    <div class="card-body">
                                        <p class="card-text"> Strawberry Banana Smoothie</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.gimmesomeoven.com/strawberry-banana-smoothie-recipe/';" value="View" />
                                            </div>
                                            <small class="text-muted">8 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="" th:src="@{'/images/pineapplesmoothie.jpg'}" alt="pastries" style="margin-left:30px; max-width: 65%;">

                                    <div class="card-body">
                                        <p class="card-text">Pineapple Smoothie</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.acouplecooks.com/pineapple-smoothie/';" value="View" />
                                            </div>
                                            <small class="text-muted">10 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="" th:src="@{'/images/chocosmoothie.jpg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">

                                    <div class="card-body">
                                        <p class="card-text">Chocolate Chunk Protein Smoothie</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.allrecipes.com/recipe/244959/chocolate-banana-peanut-butter-protein-shake/';" value="View" />
                                            </div>
                                            <small class="text-muted">13 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="" th:src="@{'/images/ACBsmoothie.jpeg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                                    <div class="card-body">
                                        <p class="card-text">Apple Carrot Beet Smoothie</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://downshiftology.com/recipes/apple-carrot-beet-smoothie/';" value="View" />
                                            </div>
                                            <small class="text-muted">20 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="" th:src="@{'/images/blueberrysmoothie.jpg'}" alt="desserts" style="margin-left:30px; max-width: 65%;">
                                    <div class="card-body">
                                        <p class="card-text">Blueberry Smoothie</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <input type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.allrecipes.com/recipe/215184/blueberry-smoothie/';" value="View" />
                                            </div>
                                            <small class="text-muted">15 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </tbody>
            </table>


        </div>
    </div>
</div>

</body>>





