<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>ASCII</title>
  <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div>
    <div>
      <h1>Ascii Art</h1>
      <th:block th:each="row: ${str}">

          <p style="font-family: 'Courier New', Courier, monospace;margin : 0; padding-top:0;line-height:0px; letter-spacing: -1px;font-size:8px;" th:text="${row}"></p>
          <br>
      </th:block>
    </div>
  </div>
  <!-- End of body content specific to page -->
</div></body>

</html>