<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Backlog</title>
</head>
<body>
<h1>List of Customers</h1>
<table>
    <tr>
        <th>N/A</th>
        <th>Recipe Name</th>
        <th>Recipe Type</th>
        <th>Date Accessed</th>
    </tr>
    <tr th:each="backlog, custStat : ${backlog}">
        <td th:text="${custStat.count}">1</td>
        <td th:text="${backlog.recipeName}">Peach Pie</td>
        <td th:text="${backlog.recipeType}">Dessert</td>
        <td th:text="${backlog.dateAccessed}">August 8</td>
        <td>
    </tr>
</table>
</body>
</html>